[submodule "themes/pelican-blueidea"]
	path = themes/pelican-blueidea
	url = https://github.com/nasskach/pelican-blueidea.git
[submodule "pelican-plugins/pelican-toc"]
	path = pelican-plugins/pelican-toc
	url = https://github.com/edamsoft-sre/pelican-toc.git
[submodule "themes/Papyrus"]
	path = themes/Papyrus
	url = https://github.com/edamsoft-sre/Papyrus
